.Detail-view{
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
}

.Detail-view > .Detail-stops{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
}

.Detail-view .Back-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    color: white;
}

.Detail-view .Invert-arrow{
    position: absolute;
    right: 8px;
    top: 48px;
    color: white;
    transform: rotate(90deg);
}