h1{
    font-family: Roboto-Black, -apple-system, Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #000000;
    padding: 0;
    margin: 0;
}

h4{
    font-family: Roboto-Regular, -apple-system, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #9B9B9B;
    padding: 0;
    margin: 0 0 4px 0;
}

.color-gray-light{
    color: #9B9B9B;
}

.text-normal{
    font-family: Roboto-Regular, -apple-system, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.text-xsmall{
    font-family: Roboto-Regular, -apple-system, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.Home-view{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.Home-view > .Home-header {
    padding: 27px 20px;
}

.Home-view > .Home-header > .app-bar {
    display: flex;
    justify-content: space-between;
}

.Home-view > .Home-body {
    padding: 0 20px;
}

.Home-view .Line-number{
    margin-top: 0px;
}