.Modal-period, .Overlay-opacity{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}

.Overlay-opacity{
    background-color: #666;
    opacity: .8;
}

.Modal-period > .Modal-content{
    box-sizing: border-box;
    position: absolute;
    background-color: #eee;
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 6px;
}

.Modal-content .Modal-title{
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.Modal-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.Modal-content li {
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    color: #4A90E2;
}