.Stop-item{
    display: flex;
    flex-direction: column;
}

.Stop-detail {
    display: flex;
}

.Stop-item > .Stop-detail > .Hour {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #4A90E2;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Stop-item > .Stop-detail > .Dot {
    background: #FFFFFF;
    border: 3px solid #ED1D25;
    width: 18px;
    height: 18px;
    border-radius: 18px;

}

.Stop-item > .Stop-detail > .Name {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #4A4A4A;
    margin: 0 20px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.Stop-item > .Stop-action > .Line {
    /* Line: */
    background-color: #ED1D25;
    width: 3px;
    height: 20px;
    margin: 0 95px;
}

.Stop-item:last-child > .Stop-action > .Line {
    visibility: hidden;
}

.Stop-item > .Hour-scroller {
    background-color: red;
}

.Stop-item .HourScroller-item{
    background-color: peachpuff;
}