.Stop-item{
    display: flex;
    flex-direction: column;
}

.Stop-detail, .Stop-detail-expanded {
    display: flex;
}

.Stop-item > .Stop-detail > .Hour {
    font-family: Roboto-Regular, -apple-system, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #4A90E2;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Stop-item > .Stop-detail > .Dot {
    background: #FFFFFF;
    border: 3px solid #ED1D25;
    width: 18px;
    height: 18px;
    border-radius: 18px;
}

.Stop-item > .Stop-detail > .Name {
    font-family: Roboto-Regular, -apple-system, Arial, Helvetica, sans-serif;;
    font-size: 18px;
    color: #4A4A4A;
    margin: 0 20px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}


.Stop-item > .Stop-action > .Line {
    /* Line: */
    background-color: #ED1D25;
    width: 3px;
    height: 20px;
    margin: 0 95px;
}

.Stop-item:last-child > .Stop-action > .Line {
    visibility: hidden;
}

.Stop-item > .Hour-scroller {
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    height: 44px;
    background-color: #666;
    display: flex;
    align-items: center;
}

.Stop-item .HourScroller-item{
    color: white;
    display: inline-block;
    padding: 4px 13px;
    line-height: 36px;
}


/*
    EXPANDED
*/
.Stop-item > .Stop-detail-expanded{
    background-color: #ED1D25;
    padding-top: 8px; 
}

.Stop-item > .Stop-detail-expanded > .Name {
    font-family: Roboto-Regular, -apple-system, Arial, Helvetica, sans-serif;;
    font-size: 18px;
    color: #fff;
    margin: 0 20px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.Stop-item > .Stop-detail-expanded > .Dot {
    background: #FFFFFF;
    border: 3px solid #fff;
    margin-left: 84px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
}