*{
    user-select: none;
}

.App{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Home-view{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.Detail-view{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    left: 100%;

    transition-duration: .350s;
    transition-property: left;
}

.Detail-view.show{
    left: 0;
}